<header class="masthead mt-4">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-5 offset-1">
        <div class="card">
          <div class="card-body">
           <%= search_form_for @search, url:search_path, method: :get do |f| %>
            <div class="container">
              <h3 style="color:grey;"><strong>Book unique places to stay and things to do. </strong></h3> <br>
              <div class="form-group">
                <%= f.text_field :address_cont, placeholder: "Where are you going?", class: "form-control" %>
              </div>
              <div class="form-group">
                <%= text_field_tag :start_date, params[:start_date], placeholder: "Start Date", class: "form-control" %>
              </div>
              <div class="form-group">            
                <%= text_field_tag :end_date, params[:end_date], placeholder: "End Date",class: "form-control mt-4" %>
              </div>
              <div class="col-4 offset-9">
                <%= f.submit "Search", class: "btn btn-primary" %>
              </div>
            </div>
            <% end %>
          </div>   
        </div>
      </div>
    </div>
  </div>
  </div>
</header>

<script>
  $('#start_date').datepicker({
    dateFormat: 'dd-mm-yy',
    minDate: 0,
    onSelect: function(selected) {
      $('#end_date').datepicker('option', 'minDate', selected)
      $('#end_date').datepicker("setDate", start_date);
    }
  });

  $('#end_date').datepicker({
    dateFormat: 'dd-mm-yy',
    minDate: 0,
    onSelect: function(selected) {
      $('#start_date').datepicker("option", "maxDate", selected);
    }
  });
</script>

