<div class = "row"> 
    <div class ="col-3">
        <%= render 'rooms/listing_sidebar'%>
    </div>

    <div class = "col-9">
        <div class = "card mt-4">
            <div class = "card-header text-white">
                Your Trips
            </div>    

            <div class="card-body">
                <div class = "container ">
                    <div class = "row">
                        <% current_user.reservations.each do |trip| %>
                            <div class="col-2 mt-3 text-muted">
                                <% datetime = trip.start_date.to_s %>
                                <h6><%= my_date = DateTime.parse(datetime).strftime("%d/%m/%Y") %></h6>
                            </div>

                            <div class="col-2 mt-3">
                                <% unless trip.room.photos.blank? %>
                                    <%= image_tag trip.room.photos.first.image.url(:thumb), class: "img-thumbnail" %>
                                <% else %>
                                    <%= image_tag 'noimage.png', style: 'height:75px;width:110px;', class: "img-thumbnail" %>
                                <% end %>
                            </div>

                            <div class="col-5 mt-3">
                                <h6><%= trip.room.listing_name %></h6>
                                <% if trip.room.user.image? %>
                                    <%= image_tag trip.room.user.image, class: "rounded-circle", style: 'height:40px;width:auto;'%>
                                <% else %>
                                    <%= image_tag gravatar_for(trip.room.user), class: "rounded-circle", style: 'height:40px;width:auto;' %>
                                <% end%>
                                <span><%= trip.room.user.fullname %></span>
                            </div>

                            <div class="col-3 mt-3 text-right">
                                <%= link_to 'Review Host', "#", class: "btn btn-info" %>
                            </div>
                        <% end%>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>