<div class = "row"> 
    <div class ="col-3">
        <%= render 'rooms/listing_sidebar'%>
    </div>

     <div class = "col-9">
        <div class = "card mt-4">
            <div class = "card-header text-white">
                Your Trips
            </div>    

             <div class="card-body">
                <div class = "container ">
                    <div class = "row">
                        <% current_user.reservations.each do |trip| %>
                            <div class="col-2 mt-3 text-muted">
                                <h6><%= trip.start_date.strftime("%v") %></h6>
                            </div>

                             <div class="col-2 mt-3">
                                <% unless trip.room.photos.blank? %>
                                    <%= link_to room_path(trip.room) do %>
                                         <%= image_tag trip.room.photos.first.image.url(:thumb), class: "img-thumbnail" %>
                                    <% end %>
                                <% else %>
                                    <%= link_to room_path(trip.room) do %>
                                        <%= image_tag 'noimage.png', style: 'height:75px;width:110px;', class: "img-thumbnail" %>
                                    <% end %>
                                <% end %>
                            </div>

                             <div class="col-5 mt-3">
                                <h6><%= trip.room.listing_name %></h6>
                                <% if trip.room.user.image? %>
                                    <%= image_tag trip.room.user.image, class: "rounded-circle", style: 'height:40px;width:auto;'%>
                                <% else %>
                                    <%= image_tag gravatar_for(trip.room.user), class: "rounded-circle", style: 'height:40px;width:auto;' %>
                                <% end%>
                                <span><%= link_to trip.room.user.fullname, trip.room.user %></span>
                            </div>

                             <div class="col-3 mt-3 text-right">
                               <!-- Button trigger modal -->
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target='<%= "#trigger#{trip.id}" %>'>
                                    Review Host
                                </button>
                            </div>
                            <!-- Modal -->
                            <div class="modal fade" id='<%= "trigger#{trip.id}" %>' tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Review Host</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <%= form_for current_user.active_relationships.new do |f| %>
                                    <%= f.hidden_field :room_id, value: trip.room.id %>
                                    <%= f.hidden_field :reservation_id, value: trip.id %>
                                    <%= f.hidden_field :host_id, value: trip.room.user.id %>
                                    <%= f.hidden_field :review_type, value: 1 %>

                                         <div class="star-center">
                                            <div id="star-ratings_<%= trip.id %>"></div> <br>
                                        </div> 

                                         <script>
                        
                                            $('#star-ratings_<%= trip.id %>').raty({
                                                path: '/assets',
                                                scoreName: 'review[star]'
                                            });
                                       
                                        </script>
                                        <div class="form-group">
                                            <%= f.text_area :comment, rows: 4, class: "form-control", placeholder: "Comments" %>
                                        </div>                                        
                                </div>
                                <div class="modal-footer">
                                     <%= f.submit "Add Review", class: "btn btn-primary" %>
                                </div>
                                    <% end %>
                                </div>
                            </div>
                            </div>
                        <% end%>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>