<div class="row">   
    <div class="col-3">
        <%= render 'sidebar' %>
    </div>
    <div class="col-9">
        <div class="card mt-4">
            <div class="card-header text-white">
                Amenities
            </div>
            <div class= "card-body">
                <div class = "container">
                    <%= form_for @room do |f| %>
                        <div class="row">
                            <div class="col-4">
                                <div class="form-group">
                                    <%= f.check_box :is_tv %> TV
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-group">
                                    <%= f.check_box :is_kitchen %> Kitchen
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-group">
                                    <%= f.check_box :is_internet %> Internet
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-group">
                                    <%= f.check_box :is_heating %> Internet
                                </div>
                            </div>
                             <div class="col-4">
                                <div class="form-group">
                                    <%= f.check_box :is_air %> Air Conditioning
                                </div>
                            </div>
                            <div class="col-4">
                            </div>
                            <div class="col-4">
                                <div class="action-content">
                                     <%= f.submit "Save", class:  "btn btn-info text-white"%>
                                </div>
                            </div>                            
                        </div>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>