<div class="row">   
    <div class="col-3">
        <%= render 'sidebar' %>
    </div>
    <div class="col-9">
        <div class="card mt-4">
            <div class="card-header text-white">
                Location 
            </div>
            <div class="card-body">
                <div class = "container">
                    <%= form_for :room, url: ""  do |f| %>
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <%= f.label :address %> <br>
                                    <%= f.text_field :address %> 
                                    <div class="action-content mt-4">
                                        <%= link_to "Save", "#" , class: "btn btn-info" %>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <% end %>                      
                </div>
            </div>
        </div>
    </div>
</div>