<div class="container">
    <div class="row">
        <div class="col-3">
            <%= render 'sidebar' %>
        </div>
        <div class="col-9">
            <div class="card mt-4">
                <div class="card-header text-white">
                    Photos
                </div>
                <div class="card-body">
                    <div class="container">
                        <div class="row">
                            <div class = "col-12 photo-upload text-center">
                                <%= form_for @photo, html: { class: "form-horizontal", multipart: true } do |f| %>
                                <%= f.hidden_field :room_id, value: @room.id %>
                                    <div class="colcontrol-group">
                                        <div class="controls">
                                        <span class="btn btn-large btn-info btn-file">
                                        Select photos
                                        <%= file_field_tag "images[]", type: :file, multiple: true, accept: 'image/jpeg,image/gif,image/png' %>
                                        </span>
                                        </div>
                                    </div>
                                    <div class="action-content mt-4">
                                        <%= f.submit "Add Photos", class:  "btn btn-info text-white"%>
                                    </div>
                                <% end %>
                            </div>
                            <div class ="col-12 photo-feed mt-4">
                                <div id="photos">
                                    <%= render 'photos/photos_list'%>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>